config.ini

# default location to store files
server_location/

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyd
*.pyo

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
lib/
include/
bin/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.hypothesis/
.pytest_cache/

# Editors
.vscode/
.idea/
*.swp
*.bak
*.swo

# OS
.DS_Store
Thumbs.db


# created files
data.db